.container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto 0;
	align-items: center;
}

.list-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: auto 0;
	align-items: center;
	max-height: 28vmax;
	overflow-y: scroll;
}

.option {
	flex: 0 0 6.3vmax;
	background-color: var(--primary-dark);
	width: 50vw;
	border-bottom: 1px solid white;
	font-size: 3vmax;
	line-height: 6vmax;
	text-align: center;
	font-weight: lighter;
	color: white;
}

.option:last-of-type {
	border: none;
}